In [ ]:
#loc
# iloc

$Using$ $list:$

In [3]:
names=['Ram','Sita','Laxman']
age=[25,22,20]

In [4]:
import pandas as pd
pd.DataFrame(data=zip(names,age),
             columns=['Names','Age'])

    Names  Age
0     Ram   25
1    Sita   22
2  Laxman   20

In [6]:
data1=pd.DataFrame(data=zip(names,age),
             columns=['Names','Age'],
            index=['A','B','C'])

In [7]:
data1

    Names  Age
A     Ram   25
B    Sita   22
C  Laxman   20

In [ ]:
## to save the output

In [8]:
data1.to_csv("C:\\Users\\S Nikitha\\Desktop\\Data_Science_Class\\GC-Datasets\\sample1.csv")

In [ ]:
list1=[i for i in range(200)]

In [ ]:
import string

string.ascii_uppercase.split(',')

$Using$ $Dictionary$

In [9]:
dict1={"Names":['Ram','Sita','Laxman'],
      "Age":[25,22,20]}
dict1

{'Names': ['Ram', 'Sita', 'Laxman'], 'Age': [25, 22, 20]}

In [10]:
dict1={"col1":['Ram','Sita','Laxman'],
      "co12":[25,22,20]}
dict1

{'col1': ['Ram', 'Sita', 'Laxman'], 'co12': [25, 22, 20]}

In [11]:
pd.DataFrame(dict1)

     col1  co12
0     Ram    25
1    Sita    22
2  Laxman    20